.caja {
    background: url(../image/large.jpg) no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 600px;
}
header {
    background: rgba(66, 66, 87, 0.73);
    height: 450px;
    color: #fff;
}
header .menu {
    margin-top: 40px;
}
header .menu img {
    height: 35px;
}
header .frase {
    height: 375px;
    display: table;
}
header .frase h1 {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 140px;
}
.list-inline {
    float: right;
}
.list-inline li a {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding-left: 20px;
}
.list-inline li a:hover {
    text-decoration: none;
    color: aqua;
} 
.fondo .icon-menu {
    display: none;
}
header .banner {
    background: rgba(75, 134, 247, 0.78);
    height: 150px;
}
header .banner .col-md-4 {
    margin-top: 30px;
}
header .banner button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 26px;
}
.servicios {
    margin: 100px 0;
}
.servicios .row {
    margin-top: 60px;
}
.servicios h5 {
    color: #72a2a2;
    font-size: 20px;
    text-align: center;
    padding: 20px 60px;
    line-height: 1.5em;
}
.servicios p {
    text-align: center;
    padding: 0 40px;
}
.icon-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    box-shadow: -2px  2px 10px rgba(0,0,0,0.2);
    border-radius: 100%;
    color: skyblue;
}
.ejemplo {
    border-top: 1px solid #ccc;
}
.ejemplo .container .flecha {
    margin: 0 auto;
    display: block;
    margin-top: -55px;
}
.ejemplo .row {
    margin: 70px 0;
}
.ejemplo h4 {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
}
.ejemplo p {
    padding-top: 10px;
}
.ejemplo .flechados {
    margin: 0 auto;
    display: block;
}
.pasos {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.pasos .col-md-6 h6 {
    font-size: 18px;
    color: #34b9b9;
    padding-top: 22px;
}
.pasos .col-md-6 h5 {
    font-size: 25px;
    color: #222222;
    font-weight: bold;
    padding-top: 10px;
}
.pasos .list-pasos {
    padding-left: 18px;
}
.left {
    background: url(../image/sec-2.jpg) no-repeat;
    background-attachment: scroll;
    background-position: left;
    background-size: cover;
    height: 470px;
}
.fondo-pocos {
    background: rgba(66, 66, 87, 0.64);
    height: 470px;
    color: #fff;
}
.pocos .right {
    padding-left: 60px;
}
.pocos .list-icons {
    list-style: none;
}
.pocos .list-icons li i {
    font-size: 26px;
    background: #41b0eb;
    border-radius: 100%;
    padding: 10px;
    display: inline-block;
    color: #fff;
}
.pocos .list-icons .separador {
    padding-top: 60px;
    margin-right: -38px;
}
.pocos .list-icons li {
    text-align: right;
    margin-right: -30px;
    padding-top: 78px;
}
.pocos .row p, .pasos .row li {
    line-height: 1.8em;
}
.usar {
    margin-top: 100px;
    margin-bottom: 130px;
}
.usar h4 {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
}
.usar p {
    padding-top: 10px;
    line-height: 1.5em;
}
.usar ul li {
    line-height: 1.5em;
}
.usar ul {
    padding: 10px 0 10px 30px;
}
.usar small {
    color: #3490b9;
    font-weight: normal;
}
footer .banner {
    background: rgba(75, 134, 247, 0.78);
    height: 140px;
    color: #fff;
}
footer .banner .col-sm-7 {
    margin-top: 30px;
}
footer .banner button {
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 60px;
    font-size: 26px;
    text-align: right;
}
footer .pie {
    background: #3c3c3c;
    color: #fff;
}
footer .pie .col-sm-3 {
    text-align: right;
    padding-top: 20px;
}
footer .pie .col-sm-9 {
    padding: 35px 0 10px 0;
}
footer .pie .col-sm-3 i {
    color: rgba(75, 134, 247, 0.78);
    font-size: 35px;
    margin-left: 28px;
}
footer .pie .col-sm-3 p {
    padding-top: 10px;
} 











